.App {
  background-color: blueviolet;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 700px;
  height: 450px;
  background-color: aliceblue;
  padding: 0em 2em;
  display: flex;

  
}
.left{
  width: 200px;
  color: rgb(31, 8, 53);
  
}
.right{
  position: relative;
  left: 3em;
  padding: 2em 1em;
  width:450px;

  overflow-y: scroll;
  overflow-x: hidden;
}

